JokeWcfClient/Service References/JokeService/JokeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JokeWcfData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JokeWcfData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJoke">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Joke" nillable="true" type="tns:Joke" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJoke" nillable="true" type="tns:ArrayOfJoke" />
  <xs:complexType name="Joke">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grade" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Joke" nillable="true" type="tns:Joke" />
</xs:schema>