TestJokeService/Service References/JokeService/JokeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://jokes.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://jokes.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This helps you remember some jokes to have a small talk</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://jokes.org/">
      <s:element name="GetJokes">
        <s:complexType />
      </s:element>
      <s:element name="GetJokesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJokesResult" type="tns:ArrayOfJoke" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfJoke">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Joke" nillable="true" type="tns:Joke" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Joke">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Question" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Answer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Grade" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetJokeById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="jokeId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJokeByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJokeByIdResult" type="tns:Joke" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddJoke">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="joke" type="tns:Joke" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddJokeResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateJoke">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="joke" type="tns:Joke" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateJokeResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteJoke">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="jokeId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteJokeResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetJokesSoapIn">
    <wsdl:part name="parameters" element="tns:GetJokes" />
  </wsdl:message>
  <wsdl:message name="GetJokesSoapOut">
    <wsdl:part name="parameters" element="tns:GetJokesResponse" />
  </wsdl:message>
  <wsdl:message name="GetJokeByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJokeById" />
  </wsdl:message>
  <wsdl:message name="GetJokeByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJokeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="AddJokeSoapIn">
    <wsdl:part name="parameters" element="tns:AddJoke" />
  </wsdl:message>
  <wsdl:message name="AddJokeSoapOut">
    <wsdl:part name="parameters" element="tns:AddJokeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateJokeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateJoke" />
  </wsdl:message>
  <wsdl:message name="UpdateJokeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateJokeResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteJokeSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteJoke" />
  </wsdl:message>
  <wsdl:message name="DeleteJokeSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteJokeResponse" />
  </wsdl:message>
  <wsdl:portType name="Joke_x0020_Remember_x0020_ServiceSoap">
    <wsdl:operation name="GetJokes">
      <wsdl:input message="tns:GetJokesSoapIn" />
      <wsdl:output message="tns:GetJokesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJokeById">
      <wsdl:input message="tns:GetJokeByIdSoapIn" />
      <wsdl:output message="tns:GetJokeByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddJoke">
      <wsdl:input message="tns:AddJokeSoapIn" />
      <wsdl:output message="tns:AddJokeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJoke">
      <wsdl:input message="tns:UpdateJokeSoapIn" />
      <wsdl:output message="tns:UpdateJokeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteJoke">
      <wsdl:input message="tns:DeleteJokeSoapIn" />
      <wsdl:output message="tns:DeleteJokeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Joke_x0020_Remember_x0020_ServiceSoap" type="tns:Joke_x0020_Remember_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJokes">
      <soap:operation soapAction="http://jokes.org/GetJokes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJokeById">
      <soap:operation soapAction="http://jokes.org/GetJokeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJoke">
      <soap:operation soapAction="http://jokes.org/AddJoke" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJoke">
      <soap:operation soapAction="http://jokes.org/UpdateJoke" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteJoke">
      <soap:operation soapAction="http://jokes.org/DeleteJoke" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Joke_x0020_Remember_x0020_ServiceSoap12" type="tns:Joke_x0020_Remember_x0020_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJokes">
      <soap12:operation soapAction="http://jokes.org/GetJokes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJokeById">
      <soap12:operation soapAction="http://jokes.org/GetJokeById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJoke">
      <soap12:operation soapAction="http://jokes.org/AddJoke" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJoke">
      <soap12:operation soapAction="http://jokes.org/UpdateJoke" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteJoke">
      <soap12:operation soapAction="http://jokes.org/DeleteJoke" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Joke_x0020_Remember_x0020_Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This helps you remember some jokes to have a small talk</wsdl:documentation>
    <wsdl:port name="Joke_x0020_Remember_x0020_ServiceSoap" binding="tns:Joke_x0020_Remember_x0020_ServiceSoap">
      <soap:address location="http://localhost:59529/JokeService.asmx" />
    </wsdl:port>
    <wsdl:port name="Joke_x0020_Remember_x0020_ServiceSoap12" binding="tns:Joke_x0020_Remember_x0020_ServiceSoap12">
      <soap12:address location="http://localhost:59529/JokeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>